.rong-scroll-active {}
.rong-scroll-active:after{
  background-color: #09f !important;
  width: 10px !important;
  height: 10px !important;
  left: -4.5px !important;
}
.rong-scroll-active > a {
  color: #09f !important;
}