@require './mode'
@require './code'
@require './custom-blocks'
@require './arrow'
@require './wrapper'
@require './toc'
@require './iconfont.css'
@require './modal.css'

$accentColor = #0099FF;
$sidebarWidth = $sidebarWidth * 0.8;

body::-webkit-scrollbar
  height: 0
  width: 0

html, body
  padding 0
  margin 0
  background-color #FFF
body
  font-family Ubuntu, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  font-size 14px
  color var(--text-color)
  background-color var(--background-color)

.page, .password-wrapper-in
  overflow-x: hidden
  margin-left $sidebarWidth

.navbar
  position fixed
  z-index 20
  top 0
  left 0
  right 0
  height $navbarHeight
  box-sizing border-box

.sidebar-mask
  position fixed
  z-index 9
  top 0
  left 0
  width 100vw
  height 100vh
  display none
  background-color: rgba(0,0,0,.65);

.sidebar
  font-size 14px
  background-color var(--background-color)
  width $sidebarWidth
  position fixed
  z-index 10
  margin 0
  top $navbarHeight
  left 0
  bottom 0
  box-sizing border-box
  border-right 1px solid var(--border-color)
  overflow-y auto

.content__default:not(.custom)
  @extend $wrapper
  // > *:first-child
  //   margin-top 1.6rem
  a:hover
    text-decoration underline
  p.demo
    padding 1rem 1.5rem
    border 1px solid #ddd
    border-radius 4px
  img
    max-width 100%

.content__default.custom
  padding 0
  margin 0
  img
    max-width 100%

a
  font-weight 500
  color $accentColor
  text-decoration none
  cursor: pointer

p a code
  font-weight 400
  color $accentColor

kbd
  background #eee
  border solid 0.15rem #ddd
  border-bottom solid 0.25rem #ddd
  border-radius 0.15rem
  padding 0 0.15em

blockquote
  font-size .9rem
  color #999
  border-left .25rem solid #999
  background-color var(--code-color)
  margin 0.5rem 0
  padding .25rem 0 .25rem 1rem
  & > p
    margin 0

ul, ol
  padding-left 1.2em

strong
  font-weight 600

h1, h2, h3, h4, h5, h6
  font-weight 500
  line-height 1.25
  .content__default:not(.custom) > &
    margin-top (0.5rem - $navbarHeight)
    padding-top ($navbarHeight + 1rem)
    margin-bottom 0
    &:first-child
      margin-top -3.5rem
      margin-bottom 1rem
      + p, + pre, + .custom-block
        margin-top 2rem
  &:hover .header-anchor
    opacity: 1

h1
  font-size 1.95rem

h2
  font-size 1.65rem
  padding-bottom .3rem
  border-bottom 1px solid var(--border-color)

h3
  font-size 1.35rem

a.header-anchor
  font-size 0.85em
  float left
  margin-left -0.87em
  padding-right 0.23em
  margin-top 0.125em
  opacity 0
  &:hover
    text-decoration none

code, kbd, .line-number
  font-family source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace

p, ul, ol
  line-height 1.7

hr
  border 0
  border-top 1px solid var(--border-color)

table
  border-collapse collapse
  margin 1rem 0
  display: block
  overflow-x: auto

tr
  border-top 1px solid var(--border-color)
  &:nth-child(2n)
    background-color var(--code-color)

th, td
  border 1px solid var(--border-color)
  padding .6em 1em
  min-width 60px

.theme-container
  &.sidebar-open
    .sidebar-mask
      display: block
  &.no-navbar
    .content__default:not(.custom) > h1, h2, h3, h4, h5, h6
        margin-top 1.5rem
        padding-top 0
    .sidebar
      top 0

@media (min-width: ($MQMobile + 1px))
  .theme-container.no-sidebar
    .sidebar
      display none
    .page, .password-wrapper-in
      margin-left 0

@require 'mobile.styl'

.iconfont
  font-size: 0.9rem;
  color: $textColorSub;

/************** 滚动条 **************/
::-webkit-scrollbar
  width: 6px;
  height: 5px;

::-webkit-scrollbar-track-piece
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 6px;

::-webkit-scrollbar-thumb:vertical
  height: 5px;
  background-color: rgba(125, 125, 125, 0.7);
  -webkit-border-radius: 6px;

::-webkit-scrollbar-thumb:horizontal
  width: 5px;
  background-color: rgba(125, 125, 125, 0.7);
  -webkit-border-radius: 6px;

/************** 流程图的滚动条 **************/
.vuepress-flowchart
  overflow: auto

$navHeight = 50px

.rong-box
  // max-width: 1800px;
  margin: 0 auto;
.rong-nav 
  height: $navHeight;
  background-color: #323746;
  padding: 0;
  position: fixed;
  * {
    float: left;
    color: white;
  }
  .rong-nav-box
    width: 1300px;
    margin: 0 auto;
    height: 100%;
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
    padding: 0 25px;
    box-sizing: border-box;
  .rong-nav-logo
    height: $navHeight;
    margin-right: 95px;
  .rong-nav-title, .rong-nav-subtitle
    height: $navHeight;
    line-height: $navHeight;
    font-size: 14px;
    margin-right: 50px;
  .rong-nav-subtitle 
    margin-right: 0;
  .rong-nav-subtitle  + .rong-nav-subtitle  
    margin-left: 50px;
  .search-box 
    line-height: $navHeight;
    position relative;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 45px;
    background-color: #383D4A;
  .search-box .iconfont 
    height: $navHeight;
    line-height: $navHeight;
    left: auto;
    right: 15px;
    color: #323746;
  .search-box input
    width: 243px;
    height: 32px;
    padding: 0px 32px 0 10px;
    border: none;
    border-radius: 0;
    color: #323746;
    background-color: #FFF;
.rong-sidebar
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #f7f8fa;
  &::-webkit-scrollbar
    height: 0;
    width: 0;
.rong-page
  margin: 0 0 0 auto;
  padding-top: 120px;
  .page-title h3 + hr
    display: none;
  .header-navs
    padding: 0 2.5rem;
    margin: 0.8rem 0;
.rong-sidebar-box::before
  position: absolute;
  content: '';
  width: 3000px;
  background-color: #f7f8fa;
  height: 100%;
  right: 100%;
.rong-outer
  position: absolute;
  width: 100%;
  height: 100%;

  .no-sidebar
    .rong-sidebar-box
      display: none;
    .rong-page-content
      padding-left: 0;
.rong-sidebar-heading
  position relative;
  font-size: 14px;
  color: #333333;
  span
    color: #333;
  .rong-sidebar-arrow
    position: absolute;
    right: 25px;
    left: auto;
    top: 50%;
    transform: translateY(-50%);
.rong-sidebar-links
  li
    font-size: 14px;
  .rong-sidebar-heading
    padding-top: 10px;
    padding-bottom: 10px;
  li a:hover
    color: #0099FF;
  li a
    padding-top: 10px;
    padding-bottom: 10px;
    color: #666666;
  // li:first-child a
  //   padding-top: 20px;
  // li:last-child a
  //   padding-bottom: 0;
  a.sidebar-link.active
    color: #0099FF;
    background-color: #ECF3FF;
  a.sidebar-link
    margin-left: 17px;
    padding-left: 19px;
    border-radius: 0;
    
.sidebar > .sidebar-links > li:not(:first-child)
  margin-top: 0;
// .rong-sidebar-group .open
//   padding-bottom: 0;
.rong-sidebar-links .is-sub-group
  a.sidebar-link
    margin-left: 0;
    padding-left: 23px;
.table-of-contents
  padding-left: 10px;
  ul
    padding: 5px;
    li
      padding-left: 15px;
      list-style: none;
      padding-top: 5px;
      padding-bottom: 0;
      position relative;
      a
        font-size: 14px;
        color: #333;
      a:hover
        color: #09f;
  ul > li
    border: none;
// .table-of-contents > ul:before
//   content: '';
//   position: absolute;
//   top: 0;
//   left: 0;
//   bottom: 0;
//   width: 1px;
//   background-color: #E8E8E8;
//   opacity: 0.5;

// @keyframes showAll
// {
//     from {background: red;}
//     to {background: yellow;}
// }
 
// @-webkit-keyframes showAll /* Safari 与 Chrome */
// {
//     from {background: red;}
//     to {background: yellow;}
// }
.table-of-contents ul > li:last-child > ul > li:last-child{
  margin-bottom: 80px;
}
.table-of-contents ul > li:first-child > ul > li:first-child{
  margin-bottom: 0;
}
.table-of-contents > ul > li li:before
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 1px;
  background-color: #E8E8E8;
  opacity: 0.5;
.table-of-contents > ul > li li > a
  display: inline-block;
  position relative;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
.table-of-contents > ul > li li:after
  content: '';
  position: absolute;
  left: 0;
  width: 5px;
  height: 5px;
  background-color: #E8E8E8;
  border-radius: 50%;
  top: 15px;
  left: -1.5px;
.table-of-contents > ul > li li:first-child:before
  top: 17px;
.table-of-contents > ul > li li:last-child:before
  bottom: 100%;
  top: 0;
  height: 18px;
.table-of-contents > ul > li li li:after
  display: none;
.table-of-contents > ul > li li li:before
  display: none;
.table-of-contents > ul > li > a
  position relative;

.table-of-contents > ul > li > a + ul li a
  color: #666666;

.rong-content-box
  margin: 0 auto;
  padding-top: 50px;
  position: relative;
  .rong-sidebar-box
    width: 200px;
    position: fixed;
    background-color: #f7f8fa;
    height: 100%;
    z-index: 99;
    overflow: visible;
  .rong-sidebar
    position: absolute;
    left: 0;
    top: 0;
  .rong-page-content
    padding-left: 200px;
// .table-of-contents
.rong-sidebar .categories-wrapper
  margin-top: 8px;
.rong-sidebar .categories-wrapper .rong-category-current
  background-color: transparent;
  color: #333333;
  font-size: 14px;
  margin-left: 15px;
  text-align: left;
  font-weight: bold;
  border-bottom: 1px solid #D8D8D8;
  padding-bottom: 14px;
  cursor: default;
.rong-sidebar .categories-wrapper .rong-category-current::before
  display: none;
.categories-wrapper + .rong-sidebar-links
  // margin-top: 15px;
.rong-content-box .rong-sidebar
  top: 70px;
  height: auto;
  bottom: 50px;
.rong-sidebar-all:hover
  .rong-sidebar-all-title .rong-sidebar-all-content
    display: flex;
.rong-sidebar-all
  margin-left: 23px;
  // position: absolute;
  top: 0;
  width: 177px;
  height: 70px;
  .rong-sidebar-all-title
    font-size: 20px;
    color: #333333;
    margin: 0;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 20px;
    // position relative;
    z-index: 20;
  .rong-sidebar-all-title:before
    content: '';
    background-image: url(../images/show-all.png);
    width: 11px;
    height: 11px;
    background-size: 100% 100%;
    display: inline-block;
    margin-right: 15px;
    margin-top: 7px;
    float: right;
  .rong-sidebar-all-content
    // animation: showAll 2s;
    // -webkit-animation: showAll 2s;
    display: none;
    position: absolute;
    width: 760px;
    border: 1px solid #D8D8D8;
    left: 174px;
    background-color: white;
    overflow: auto;
    top: 40px;
    left: 99%;
    z-index: 100;
    padding: 30px;
    box-sizing: border-box;
    max-height: calc(100% - 100px);
    overflow: auto;
  .rong-sidebar-all-content-placeholder
    position: absolute;
    height: 75px;
    width: 100px;
    z-index: 11;
    top: 0;
    margin-left: 77px;
    margin-top: 46px;
.rong-api-list
  // text-align: center;
  padding: 0 3%;
  .rong-api-content
    table
      overflow: hidden;
      padding: 0 1%;
    tr
      width: 100%;
      display: inline-table;
      height: 40px;
      color: #666666;
      th, td
        // padding-left: 20%;
        text-align: left;
        width: 50%;
      th
        background-color: #F7F7F7;
      td
        background-color: white;
@media (max-width: 720px)
  .rong-box
    .rong-sidebar-box
      display: none;
    .rong-page-content
      padding-left: 0;
    .rong-mobile-sidebar-box
      display: block;
      .rong-sidebar
        top: 10px;
        padding-top: 0;
.rong-sidebar-summary
  display: inline-block;
  margin-right: 65px;
  vertical-align: top;
  .rong-sidebar-summary-title
    min-width: 160px;
    font-size: 15px;
    color: black;
    padding-bottom: 6px;
    border-bottom: 1px solid #D8D8D8;
    margin-top: 0;
  .rong-sidebar-sub-summary-title
    margin-top: 15px;
    margin-bottom: 0;
    font-size: 15px;
    color: #333;
  .rong-sidebar-sub-summary
    ul
      margin: 0;
      padding-left: 0;
    ul li
      list-style: none;
      margin: 0;
    ul li a
      color: #0099FF;
      font-size: 14px;
.rong-sidebar-other-summary
  margin-right: 0;
  .rong-sidebar-sub-summary
    margin-bottom: 60px;
@media (max-width: 719px) {
  .rong-nav-box img {
    margin-left: 10%;
    margin-right: 10% !important;
  }
  .rong-nav-title, .rong-nav-subtitle {
    display: none !important;
  }
  .rong-page-box, .header-navs, .rong-category-padding, .rong-like {
    padding-left: 0 !important;
  }
  .search-box {
    float: right;
    margin-right: 1% !important;
    width: 40%;
    input {
      width: 100% !important;
      font-size: 12px;
      padding-left: 10% !important;
    }
  }
  .rong-api-search {
    float: none !important;
  }
  .rong-api-list .rong-api-content {
    width: 98%;
  }
  .sidebar-button {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    left: 2%;
  }
  .sidebar-mask {
    z-index: 21;
  }
  .rong-nav .rong-nav-box {
    width: 100%;
  }
}

$rightBarWidth = 180px;

#nprogress .bar
  background-color: #09f;
.rong-page-content
  padding-right: 165px;
.rong-page .rong-page-box
  position relative;
  padding-right: 0;
  .table-of-contents
    position: fixed;
    width: $rightBarWidth;
    height: 100%;
    margin-left: 0;
    right: 10px;
    ul:first-child
      position: fixed;
      width: $rightBarWidth;
      overflow: auto;
      text-overflow: ellipsis;
      white-space: nowrap;
      margin-left: 0;
      &::-webkit-scrollbar
        height: 0;
        width: 0px;
.rong-content-box
  margin-left: 3%;
  margin-right: 3%;

.rong-category-box
  height: 76px;
  max-width: 100%;
.rong-category-box + .rong-page-box
  padding-top: 95px;
  top: -60px;
.rong-platforms-box
  height: 35px;
  max-width: 100%;
.rong-platforms-box + .rong-page-box
  padding-top: 35px;
  top: -35px;
@media (max-width: 1200px) {
  .table-of-contents {
    display: none !important;
  }
  .rong-content-box .rong-page-content {
    padding-right: 0 !important;
  }
  .rong-page {
    padding-right: 0 !important;
  }
}

@media (max-height: 880px) {
  .rong-home-horizontal-list {
    margin-top: 50px;
  }
}
.rong-like
  padding: 0 2.5rem;
  .rong-like-title
    display: inline-block;
    color: #333;
    font-size: 16px;
    margin: 12px 0;
  .rong-like-btn-box
    display: inline-block;
    margin-left: 40px;
    vertical-align: middle;
    a + a
      border-left: none;
    a
      display: inline-block;
      width: 44px;
      height: 24px;
      line-height: 24px;
      text-align: center;
      box-sizing: border-box;
      background-color: #F1F1F1;
      border: 1px solid #DDD;
      background-position: center;
      background-repeat: no-repeat;
    a[disabled]
      pointer-events: none;
      cursor: not-allowed;
  .rong-like-success-box
    position relative;
    height: 100px;
    width: 90%;
    background-color: #F5F5F5;
    border: 1px solid #DDDDDD;
    .rong-like-success-content
      position: absolute;
      top: 47%;
      transform: translateY(-50%);
      left: 100px;
    .rong-like-success-title, .rong-like-success-thank
      margin: 7px 0;
    .rong-like-success-title
      color: #333333;
      font-size: 16px;
    .rong-like-success-thank
      font-size: 14px;
      color: #666666;
    .rong-like-success-icon
      display: inline-block;
      position: absolute;
      width: 24px;
      height: 24px;
      top: 50%;
      transform: translateY(-50%);
      left: 30px;
  .rong-like-other
    font-size: 16px;
    color: #333333;

.back-to-ceiling > svg {
  fill: #09f !important;
}